{% extends 'base.html' %}

{% block header %}
    <h1>Would you like to know more?</h1>
{% endblock %}

{% block content %}
<form class="cf">
    <h4>{{ form.tt.label }}</h4>
    {{ form.tt }}

    <h4>{{ form.c.label }}</h4>
    {{ form.c }}

    <h4>{{ form.i.label }}</h4>
{% for subfield in form.i %}
    {% if subfield.data %}
        {{ subfield }}<label for="{{ subfield.id }}"><img height="16" width="16" src="icon?i={{ subfield.data }}" alt="{{ subfield.data }}" title="{{ subfield.data }}"></label>
    {% else %}
        {{ subfield }}{{ subfield.label }}
    {% endif %}
{% endfor %}

    <h4>{{ form.C.label }}</h4>
{% for subfield in form.C %}
    {{ subfield }}{{ subfield.label }}
{% endfor %}

    <h4>{{ form.g.label }}</h4>
{% for subfield in form.g %}
    {{ subfield }}{{ subfield.label }}
{% endfor %}

    <h4>{{ form.B.label }}</h4>
{% for subfield in form.B %}
    {{ subfield }}{{ subfield.label }}
{% endfor %}

    <h4>{{ form.w.label }}</h4>
    {{ form.w }}

    <p>{{ form.preview }} {{ form.svg }} {{ form.png }}</p>
</form>

<div class="preview">
    <h2>Preview</h2>
    <img src="img?{{ img_args|safe }}" alt="qr code"> <br>
</div>
{% endblock %}
